<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/js/popper.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
</head>
<body>
<% if !current_user.nil? %>
  <div class="container">
    <div class="row">
      <div class="card" style="width: 100%;">
        <div class="card-header"><span class="glyphicon-glyphicon-triangle-right"></span>
          <div class="panel-body"></div>
          <h2 style="font-weight: bold;">アイデア一覧</h2>
          <% @ideas.each do |idea| %>
            <div class="card" style="width: 50rem;">
              <div class=" card-body">
                <div class="panel-body">
                  <p><%= User.find(idea.user_id).username %> さん</p>
                  <h2><a style="font-weight: bold;" href="/ideas/ <%= idea.id %>/information">
                  <%= idea.description %></a></h2>
                  <p><span style="font-weight: bold;">サービスの説明</span><br><%= idea.about %></p><br>
                  <p><span style="font-weight: bold;">コンセプト</span><br><%= idea.concept %></p><br>
    
                  <% unless idea.img.empty? %>
                    <img class="card-img-top" src="<%= idea.img %>" style="width: 22.5rem;">
                  <% end %>
                  <p><%= idea.created_at.in_time_zone('Japan').strftime("%Y-%m-%d %H:%M:%S") %></p>
                  <% unless idea.user_id.nil? %>
                    <% if idea.user_id == current_user.id %>
                    <% else %>
                      <% if current_user.favorites.where(idea_id: idea.id).blank? %>
                        <form action="/ideas/<%= idea.id %>/update" method="post">
                          <input type="submit" value="お気に入り" class="btn btn-warning text-white">
                        </form>
                      <% else %>
                        <form action="/ideas/<%= idea.id %>/update" method="post">
                          <input type="submit" value="解除" class="btn btn-outline-warning ">
                        </form>
                        <% end %>
                    <% end %>
                  <% end %>

                  <% unless idea.user_id.nil? %>
                    <% if idea.user_id == current_user.id %>
                      <form action="/ideas/<%= idea.id %>/delete" method="post" onsubmit="return submitChk()">
                        <input type="submit" value="削除" class="btn btn-outline-danger">
                      </form>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <body onLoad=setTimeout("location.href='/'")></body>
<% end %>
</body>

</html>

<script>
  function submitChk() {
    var flag = confirm("削除してもよろしいですか？\n\n削除したくない場合は[キャンセル]ボタンを押して下さい");
    return flag;
  }
</script>
