<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/js/popper.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
</head>
<body>
<% if !current_user.nil? %>
  <div class="container" id="information">
    <div class="row">
      <div class="card" style="width: 1200px;">
        <div class="card-header" style="background: #10a0e0; color: #fff;">
          <span class="glyphicon-glyphicon-triangle-right"></span><span style="font-weight: bold;"><%= CGI.escapeHTML(@idea.description) %></span>
        </div>
        <div class="card-body">
          <% if @idea.img == "" %>
          <% else %>
            <div class="form-group">
            <img class="card-img-top" src="<%= CGI.escapeHTML(@idea.img) %>" style="width: 25rem;">
            </div>
            <br>
          <% end %>
          <% if @idea.about == "" %>
          <% else %>
            <div class="form-group">
              <h5><span style="font-weight: bold;">サービスの簡単な説明</span><br><%= CGI.escapeHTML(@idea.about) %></h5>
            </div>
            <br>
          <% end %>
          <% if @idea.concept == "" %>
          <% else %>
            <div class="form-group">
              <h5><span style="font-weight: bold;">サービスのコンセプト：</span><%= CGI.escapeHTML(@idea.concept) %></h5>
            </div>
            <br>
          <% end %>
          <% if @idea.name == "" %>
          <% else %>
            <div class="form-group">
              <h5><span style="font-weight: bold;">サービス名：</span><%= CGI.escapeHTML(@idea.name) %></h5>
            </div>
            <br>
          <% end %>
          <% if @idea.why == "" %>
          <% else %>
            <div class="form-group">
              <h5><span style="font-weight: bold;">なぜ作る？</span><br><%= CGI.escapeHTML(@idea.why) %></h5>
            </div>
            <br>
          <% end %>
          <% p @idea.core %>
          <% unless @idea.core == "[\"\"]" || @idea.core== "nil" %>
            <div class="form-group">
              <h5><span style="font-weight: bold;">サービスのコア機能</span><% eval(@idea.core).each do |core| %><ul><li class="li"><%= core %></li></ul><% end %></h5>
            </div>
            <br>
          <% end %>
          <% unless @idea.sab == "[\"\"]" || @idea.sab== "nil" %>
            <div class="form-group">
              <h5><span style="font-weight: bold;">サービスのサブ機能</span><% eval(@idea.sab).each do |sab| %><ul><li class="li"><%= sab %></li></ul><% end %></h5>
            </div>
            <br>
          <% end %>
          <% unless @idea.technology == "[\"\"]"|| @idea.technology== "nil"%>
            <div class="form-group">
              <h5><span style="font-weight: bold;">どんなデバイス・言語・技術を使う？</span><% eval(@idea.technology).each do |technology| %><ul><li class="li"><%= technology %></li></ul><% end %></h5>
            </div>
            <br>
          <% end %>
          <div class="form-group">
            <h5><span style="font-weight: bold;">ターゲットユーザー</span></h5>
            <% unless @idea.age.nil? %>
              <h5><ul><li class="li">年齢<span><%= CGI.escapeHTML(@idea.age) %>代</span></li></ul></h5>
            <% end %>
            <% unless @idea.gender.nil? %>
              <h5><ul><li class="li">性別 <span><%= CGI.escapeHTML(@idea.gender) %></span></li></ul></h5>
            <% end %>
            <% unless @idea.target_user.nil? %>
              <% else %>
              <h5><ul><li class="li">職業 <span><%= CGI.escapeHTML(@idea.target_user) %></span></li></ul></h5>
            <% end %>
          </div>
          <br>
          <% if @idea.whom == "" %>
          <% else %>
            <div class="form-group">
              <h5 style="display:inline"><span style="font-weight: bold;">誰に使う？：</span><% unless @idea.whom.nil? %><%= CGI.escapeHTML(@idea.whom) %><% end %></h5>
            </div>
            <br>
          <% end %>
          <% if @idea.when == "" %>
          <% else %>
            <div class="form-group">
              <h5><span style="font-weight: bold;">いつ使う？：</span><%= CGI.escapeHTML(@idea.when) %></h5>
            </div>
            <br>
          <% end %>
          <% if @idea.where == "" %>
          <% else %>
            <div class="form-group">
              <h5><span style="font-weight: bold;">どこで使う？：</span><% unless @idea.where.nil? %><%= CGI.escapeHTML(@idea.where) %><% end %></h5>
            </div>
            <br>
          <% end %>
          <% if @idea.how == "" %>
          <% else %>
            <div class="form-group">
              <h5><span style="font-weight: bold;">どうやって使う？：</span><% unless @idea.how.nil? %><%= CGI.escapeHTML(@idea.how) %><% end %></h5>
            </div>
            <br>
          <% end %>
          <% if @idea.howmany == "" %>
          <% else %>
            <div class="form-group">
              <h5><span style="font-weight: bold;">どのくらいの規模？：</span><% unless @idea.howmany.nil? %><%= CGI.escapeHTML(@idea.howmany) %><% end %></h5>
            </div>
            <br>
          <% end %>
          <% if @idea.howmuch == "" %>
          <% else %>
            <div class="form-group">
              <h5><span style="font-weight: bold;">いくらで？：</span><% unless @idea.howmuch.nil? %><%= CGI.escapeHTML(@idea.howmuch) %><% end %></h5>
            </div>
            <br>
          <% end %>
          <% if @idea.howlong == "" %>
          <% else %>
            <div class="form-group">
              <h5><span style="font-weight: bold;">どのくらいの間で作る？いつリリースする？：</span><% unless @idea.howlong.nil? %><%= CGI.escapeHTML(@idea.howlong) %><% end %></h5>
            </div>
            <br>
          <% end %>
          <% if @idea.last == "" %>
          <% else %>
            <div class="form-group">
              <h5><span style="font-weight: bold;">最終的にどうなってほしい？</span><br><%= CGI.escapeHTML(@idea.last) %></h5>
            </div>
          <% end %>
          <% if @idea.email == "" %>
          <% else %>
            <div class="form-group">
              <h5><span style="font-weight: bold;">メールアドレス：</span><% unless @idea.email.nil? %><%= CGI.escapeHTML(@idea.email) %><% end %></div></h5>
            <br>
          <% end %>
          <% if @idea.other == "" %>
          <% else %>
            <div class="form-group">
              <h5><span style="font-weight: bold;">その他・感想・質問</span><br><% unless @idea.other.nil? %><%= CGI.escapeHTML(@idea.other) %><% end %></h5>
            </div>
            <br>
          <% end %>
          <div class="form-group">
            <p><span style="font-weight: bold;">日付：</span><%= @idea.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
          </div>
          

          <a href="/ideas" class="btn btn-outline-info">戻る</a>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <script type="text/javascript">setTimeout('window.location.href="/"')</script>
<% end %>
</body>

</html>

<style>
  .li {
    list-style: disc;
    padding-left: 1em;
    text-indent: -1em;
    list-style-position: inside;
  }
</style>